.skills {
    padding: 30px;
    text-align: center;
    background: linear-gradient(1deg, rgb(13 255 209) 0%, rgb(255 255 255) 100%);
}

.skillsTitle {
    font-weight: 600;
    margin: 30px 0 10px 0;
    color: #464c50;
    display: inline-block;
    font-size: 26px;
    text-transform: uppercase;
}

.skillsItems {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}


@media all and (max-width: 1000px) {


}

@media all and (max-width: 720px) {

    .skillsItems {
        flex-direction: column;
    }


}