.works {
    text-align: center;
}

.worksTitle {
    font-weight: 600;
    margin: 40px 0 20px 0;
    color: #464c50;
    display: inline-block;
    font-size: 26px;
    text-transform: uppercase;
}

.worksItems {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
