.works {
    background: #ffddba;
    text-align: center;
}

.worksTitle {
    font-weight: bold;
    margin: 40px 0 0 0;
    display: inline-block;
    font-size: 32px;
}

.worksItems {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
