.hire {
    text-align: center;
    background: linear-gradient(90deg, rgba(121, 9, 103, 1) 0%, rgba(0, 212, 255, 1) 100%);
    padding: 60px 0;
    color: #fff;
}

.title {
    color: #07ffd1;
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
}

.btn {
    margin: 30px 0 0 0;
    border: 0;
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    display: inline-block;
    padding: 15px 60px;
    border-radius: 6px;
    background: rgba(255, 255, 255, .1);
    transition: .2s;
    cursor: pointer;
    text-transform: lowercase;
}

.btn:hover {
    background: rgba(255, 255, 255, .4);
}